/* general body*/

body {
  margin: 0;
  padding: 0;
}



/*<--Navbar-->*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  overflow: hidden;
  background-color:#21382f;
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#274238 ;
}



/*<--Home Page Text-->*/

h1.homeTitle {
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 70px;

}

p.titleParagraph {
  text-align: center;
  font-size: 30px;
}